@section JsFile {
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../assets/vendor/libs/popper/popper.js"></script>
    <script src="../../assets/vendor/js/bootstrap.js"></script>
    <script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../../assets/vendor/libs/hammer/hammer.js"></script>

    <script src="../../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../../assets/vendor/libs/select2/select2.js"></script>

    <!-- Main JS -->
    <script src="../../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../../assets/js/forms-tagify.js"></script>
    <script src="../../assets/js/forms-selects.js"></script>
}

@section CssFile {
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon/favicon.ico">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../../assets/vendor/fonts/boxicons.css">

    <!-- <link rel="stylesheet" href="assets/vendor/fonts/fontawesome.css" /> -->
    <!-- <link rel="stylesheet" href="assets/vendor/fonts/flag-icons.css" /> -->

    <!-- Core CSS -->
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/core.css">
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/theme-default.css">
    <link rel="stylesheet" href="../../assets/css/demo.css">
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/rtl.css">

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/select2/select2.css">

}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-xxl">
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-solid-danger alert-dismissible d-flex align-items-center" role="alert">
                @ViewBag.Error
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">ایمیل جدید</h5>
                <small class="text-muted float-end primary-font">ایمیل جدید</small>
            </div>
            <div class="card-body">
                <form action="/Email/AddMail" enctype="multipart/form-data" method="post">

                    <div class="row md-3">
                        <label for="ReciverId" class="col-sm-2 col-form-label">لیست گیرنده ها</label>
                        <div class="col-sm-10">
                            <select id="ReciverId" class="select2 form-select" name="ReciversId" multiple>
                                @foreach ((string, int, string) item in ViewBag.Contacts)
                                {
                                    @if (ViewBag.ReciversId != null && ViewBag.ReciversId.Contains(item.Item2))
                                    {
                                        <option data-avatar="@item.Item1" value="@item.Item2" selected>@item.Item3</option>
                                    }
                                    else
                                    {
                                        <option data-avatar="@item.Item1" value="@item.Item2">@item.Item3</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row md-3">
                        <label for="CCId" class="col-sm-2 col-form-label">لیست رونوشت ها</label>
                        <div class="col-sm-10">
                            <select id="CCId" class="select2 form-select" name="CCsId" multiple>
                                @foreach ((string, int, string) item in ViewBag.Contacts)
                                {
                                    @if (ViewBag.ReciversId != null && ViewBag.ReciversId.Contains(item.Item2))
                                    {
                                        <option data-avatar="@item.Item1" value="@item.Item2" selected>@item.Item3</option>
                                    }
                                    else
                                    {
                                        <option data-avatar="@item.Item1" value="@item.Item2">@item.Item3</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-name">شماره سریال</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="basic-default-name" name="SerialNumber"
                                placeholder="شماره سریال را وارد کنید" value="@ViewBag.SerialNumber">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-company">موضوع</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="basic-default-company"
                                placeholder="موضوع (subject) ایمیل را وارد کنید" name="Subject" value="@ViewBag.Subject">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="basic-default-message">پیام</label>
                        <div class="col-sm-10">
                            <textarea id="basic-default-message" class="form-control"
                                placeholder="متن پیام را اینجا بنویسید"
                                aria-label="Hi, Do you have a moment to talk Joe?"
                                aria-describedby="basic-icon-default-message2" name="BodyText">@ViewBag.BodyText</textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="upload">فایل های پیوست شده</label>
                        <div class="col-sm-10">
                            <input type="file" id="upload" class="account-file-input" multiple name="Files">
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">ارسال</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/ Content -->
<script src="../..assets/js/forms-selects-Mine.js"></script>