<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 breadcrumb-wrapper mb-4">
        <span class="text-muted fw-light">تنظیمات حساب /</span> حساب
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header heading-color">جزئیات پروفایل</h5>
                <!-- Account -->
                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src="@ViewBag.Profile" alt="user-avatar" class="d-block rounded" height="100"
                             width="100" id="uploadedAvatar">
                        <div class="button-wrapper">
                            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">ارسال تصویر جدید</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file" id="upload" class="account-file-input" hidden
                                       accept="image/png, image/jpeg">
                            </label>


                            <p class="mb-0">فایل‌های JPG، GIF یا PNG مجاز هستند. حداکثر اندازه فایل 800KB.</p>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <form id="formAccountSettings" method="POST" onsubmit="return false">
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="firstName" class="form-label">نام</label>
                                <input class="form-control" type="text" id="firstName" name="firstName" value="@ViewBag.FirstName"
                                       autofocus>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="lastName" class="form-label">نام خانوادگی</label>
                                <input class="form-control" type="text" name="lastName" id="lastName" value="@ViewBag.Lastname">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="Phone">شماره تلفن</label>
                                <div class="input-group input-group-merge">
                                    <input type="text" id="Phone" name="Phone"
                                           class="form-control text-start" placeholder="شماره تماس" value="@ViewBag.Phone" dir="ltr">
                                    <span class="input-group-text">IR</span>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="Addres" class="form-label">آدرس</label>
                                <input type="text" class="form-control" id="Addres" name="Addres" placeholder="آدرس" value="@ViewBag.Addres">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="NatinalCode" class="form-label">کد ملی</label>
                                <input class="form-control" type="text" name="NatinalCode" id="NatinalCode" readonly value="@ViewBag.NatinalCode">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="PerconalCode" class="form-label">کد پرسنلی</label>
                                <input class="form-control" type="text" name="PerconalCode" id="PerconalCode" readonly value="@ViewBag.PerconalCode">
                            </div>
                            <input type="hidden" name="id" value="@ViewBag.UserId" />


                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">ذخیره تغییرات</button>
                            <button type="reset" class="btn btn-label-secondary">انصراف</button>
                        </div>
                    </form>
                </div>
                <!-- /Account -->
            </div>
            <div class="card">
                <h5 class="card-header heading-color">حذف حساب</h5>
                <div class="card-body">
                    <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                            <h6 class="alert-heading mb-1">آیا از حذف حساب خود اطمینان دارید؟</h6>
                            <p class="mb-0">
                                در صورتی که حساب خود را حذف کنید، بازگشتی وجود نخواهد داشت. لطفا مطمئن
                                باشید.
                            </p>
                        </div>
                    </div>
                    <form id="formAccountDeactivation" onsubmit="return false">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" name="accountActivation"
                                   id="accountActivation">
                            <label class="form-check-label" for="accountActivation">
                                من غیرفعال کردن حساب خود را تایید
                                می‌کنم
                            </label>
                        </div>
                        <button type="submit" class="btn btn-danger deactivate-account">غیرفعال کردن حساب</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>